.font-inter {
  font-family: "Inter", sans-serif;
}
.badge-img {
  width: 18px;
}
.active-tab {
  background-color: red;
  color: white;
}
.sp-color {
  background: #bcc1ca;
  color: black;
  font: bold;
  padding: 4px;
  border-radius: 8px;
}
table {
  border-collapse: collapse;
  width: 50%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
